:root {
    --button-size: 50px;
    --background-color-default: #eee;
    --background-color-hovered: #ddd;
    --background-color-selected: #ddd;
}
.button-list {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
}
.button-list div {
    width: var(--button-size);
    height: var(--button-size);
    background: var(--background-color-default);
}
.button-list div:hover {
    background: var(--background-color-hovered);
}
.button-list .selected {
    background: var(--background-color-selected);
}
.button-list .rect .icon {
    background: url('../art/icon/rect.png');
    background-size: 100%;
}
.button-list .circle .icon {
    background: url('../art/icon/circle.png');
    background-size: 100%;
}
