* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

#main-canvas {
    width: 500px;
    height: 500px;
    background-color: #eee;
    margin: 50px;
}
.button-list > div {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: #eee;
}
.button-list > .selected {
    background-color: #ddd;
}
