* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100%;
}

.menu-bar {
    position: absolute;
    border: 1px solid #000;
    height: 50px;
    width: 100%;
}
