* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    margin: 100px;
    width: 500px;
    height: 500px;
    border: 1px black solid;
}
.point {
    width: 4px;
    height: 4px;
    fill: #000;
    stroke: #000;
    stroke-width: 1px;
}
