* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    margin: 100px;
    width: 500px;
    height: 500px;
    border: 1px black solid;
}

.canvas-svg {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 100px;
    top: 100px;
}
