* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menu-bar {
    border: 1px solid #000;
    display: flex;
    height: 50px;
    width: 100%;
}

.right-side {
    display: flex;
    width: 320px;
    height: 500px;
    background-color: #eee;
}

.timeline-panel {
    display: flex;
    width: 100%;
    height: 320px;
    background-color: #777;
}
