* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
}

.menu-bar {
    border: 1px solid #000;
    display: flex;
    height: 50px;
    width: 100%;
}

.left-side {
    position: absolute;
    left: 0;
    width: 320px;
    height: 100%;
    background-color: #ddd;
}
.right-side {
    position: absolute;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: #eee;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: #777;
}
.timeline-resizer {
    height: 2px;
    cursor: n-resize;
    background-color: #f00;
}
